<!--Navigation & Intro-->
<header class="wow">

  <!--Mask-->
  <div id="login" class="view hm-black-strong">
    <div class="full-bg-img flex-center">
      <div class="container">
        <div class="row" id="home">

          <!--First column-->
          <div class="col-md-12 m-b-r wow fadeInDown" data-wow-delay="0.5s">
            <div class="description">
              <img src="../../../assets/img/lion2.png" width="200px" height="200px" />
            </div>
          </div>
          <!--/.First column-->

          <!--Second column-->
          <div class="col-md-12 m-b-r wow fadeInUp" data-wow-delay="0.5s">

            <!--Form with header-->
            <div class="card">
              <div class="card-block">

                <!--Header-->
                <div class="form-header login">
                  <h3><i class="fa fa-lock"></i> Lion Planner Login:</h3>
                </div>

                <!--Body-->
                <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                  <div ngModelGroup="userData">
                  <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" id="wNumber" name="wNumber" PLACEHOLDER="ex: w1234567" [(ngModel)]="user.wNumber" class="form-control validate" #wNumber="ngModel" minlength="8" maxlength="8" required length="8">
                    <label for="wNumber">Your W# Number</label>
                    <div *ngIf="!wNumber.valid && wNumber.touched">
                      <p class="text-danger">*Required</p>
                    </div>
                  </div>

                  <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="password" name="password" [(ngModel)]="user.password" class="form-control validate" #password="ngModel" required>
                    <label for="password">Your password</label>
                    <div *ngIf="!password.valid && password.touched">
                      <p class="text-danger">*Required</p>
                    </div>
                  </div>

                  <div class="text-xs-center">
                    <button type="submit" class="btn btn-default login waves-effect" [disabled]="!f.valid" *ngIf="!loggingIn">Login</button>
                    <div *ngIf="loggingIn">
                      <div class="preloader-wrapper active">
                        <div class="spinner-layer spinner-green-only">
                          <div class="circle-clipper left">
                            <div class="circle"></div>
                          </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                        </div>
                      </div>
                    </div>
                    <div class="text-xs-center text-danger" *ngIf="noMatch">
                      W Number or Password did not match
                    </div>
                    <br>
                    <div class="text-xs-center text-danger" *ngIf="errorOccurred">
                      There was an error with the Server. Please try again later.
                    </div>
                  </div>
                  </div>
                </form>

              </div>

              <!--Footer-->

            </div>
            <!--/Form with header-->

          </div>
          <!--/Second column-->
        </div>
      </div>
    </div>
  </div>
  <!--/.Mask-->

</header>
<!--/Navigation & Intro-->


