<!--Planner Section-->
<section *ngIf="!isLoading && !questionnaireNeeded" class="section">

    <div *ngFor="let year of _years; let i = index;" class="row">
      <div class="col-lg-6 m-b-r wow fadeInUp">
        <!--Card-->
        <div class="card-overlay" style="background: linear-gradient(
                       rgba(20,20,20, .15),
                       rgba(20,20,20, .15)),
                       url('../../../../assets/img/chalkboard.jpg') center no-repeat;}">

            <!--Content-->
            <div class="white-text text-xs-center">
              <div class="card-block">
                <h3 class="cyan-text">{{year.semester1.semester}} {{year.semester1.year}}</h3>
                <a class="btn btn-lg btn-white-outline waves-effect" data-toggle="collapse" href="#Sem1collapseExample{{i}}" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-graduation-cap left"></i> View Semester</a>
              </div>
            </div>
        </div>
        <!--/.Card-->

        <div class="collapse" id="Sem1collapseExample{{i}}">
          <div class="card card-block">

            <div class="card-block">
              <!--Text-->
              <table class="table table-hover table-sm">
                <thead class="thead-inverse">
                  <tr>
                    <th>#</th>
                    <th class="text-xs-center">Class</th>
                    <th class="text-xs-center">Credits</th>
                    <th class="text-xs-center">Difficulty</th>
                    <th class="text-xs-center">Time Consumption</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let class of year.semester1.classes; let j = index">
                    <th scope="row">{{j+1}}</th>
                    <td class="text-xs-center">{{class.chosenClass.name}}</td>
                    <td class="text-xs-center">{{class.chosenClass.creditHours}}</td>
                    <td class="text-xs-center">{{class.chosenClass.difficultyRating}}</td>
                    <td class="text-xs-center">{{class.chosenClass.hoursDemandedRating}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--/.Card content-->
            <!-- Card footer -->
            <div class="card-data">
              <h4 class="text-xs-center">Total Credits: {{year.semester1.creditTotal}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 m-b-r wow fadeInUp">
        <!--Card-->
        <div class="card-overlay" style="background: linear-gradient(
                       rgba(20,20,20, .15),
                       rgba(20,20,20, .15)),
                       url('../../../../assets/img/chalkboard.jpg') center no-repeat;}">

            <!--Content-->
            <div class="white-text text-xs-center">
              <div class="card-block">
                <h3 class="cyan-text">{{year.semester2.semester}} {{year.semester2.year}}</h3>
                <a class="btn btn-lg btn-white-outline waves-effect" data-toggle="collapse" href="#Sem2collapseExample{{i}}" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-graduation-cap left"></i> View Semester</a>
              </div>
            </div>
        </div>
        <!--/.Card-->

        <div class="collapse" id="Sem2collapseExample{{i}}">
          <div class="card card-block">

            <div class="card-block">
              <!--Text-->
              <table class="table table-hover table-sm">
                <thead class="thead-inverse">
                  <tr>
                    <th>#</th>
                    <th class="text-xs-center">Class</th>
                    <th class="text-xs-center">Credits</th>
                    <th class="text-xs-center">Difficulty</th>
                    <th class="text-xs-center">Time Consumption</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let class of year.semester2.classes; let j = index">
                    <th scope="row">{{j+1}}</th>
                    <td class="text-xs-center">{{class.chosenClass.name}}</td>
                    <td class="text-xs-center">{{class.chosenClass.creditHours}}</td>
                    <td class="text-xs-center">{{class.chosenClass.difficultyRating}}</td>
                    <td class="text-xs-center">{{class.chosenClass.hoursDemandedRating}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--/.Card content-->
            <!-- Card footer -->
            <div class="card-data">
              <h4 class="text-xs-center">Total Credits: {{year.semester2.creditTotal}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
<!--/Planner Section-->
<div class="flex-center" *ngIf="isLoading">
  <div class="loader">Loading</div>
</div>

<section *ngIf="!isLoading && questionnaireNeeded" class="section wow fadeInUp">
  <div class="row">
    <form class="form-inline" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <!--Header-->
          <div class="card-header selu-green white-text text-xs-center">
            Course Choice
          </div>
          <!--/Header-->

          <!--Content-->
          <div class="card-block">
            <p class="flex-center">Please complete the following Course Selections</p>
            <h4 class="text-xs-center">Available Options:</h4>
            <br>
            <!--Blue select-->
            <div class="col-sm-12">
              <!--<select id="choice" class="centerAlign browser-default validate">-->
                <!--<option value="" disabled selected>Select a class</option>-->
                <!--<option *ngFor="let option of currentQuestion.options" value="{{option.name}}">{{option.name}}</option>-->
              <!--</select>-->
              <div *ngFor="let option of currentQuestion.options; let k = index" class="media">
                <a class="media-left waves-light">
                  <fieldset class="form-group customRadio">
                    <input name="group1" type="radio" id="radio{{k}}" value="{{option.name}}">
                    <label for="radio{{k}}"><i class="fa fa-book fa-2x"></i></label>
                  </fieldset>
                </a>
                <div class="media-body">
                  <h4 class="media-heading">{{option.name}}</h4>
                  <ul class="inline-ul">
                    Difficulty:
                    <li><i class="fa fa-star amber-text"></i></li>
                    <li><i class="fa fa-star amber-text"></i></li>
                    <li><i class="fa fa-star amber-text"></i></li>
                    <li><i class="fa fa-star grey-text"></i></li>
                    <li><i class="fa fa-star grey-text"></i></li>
                  </ul>
                  <ul class="inline-ul">
                    Time:
                    <li><i class="fa fa-clock-o red-text"></i></li>
                    <li><i class="fa fa-clock-o red-text"></i></li>
                    <li><i class="fa fa-clock-o grey-text"></i></li>
                    <li><i class="fa fa-clock-o grey-text"></i></li>
                    <li><i class="fa fa-clock-o grey-text"></i></li>
                  </ul>
                  <p>This is where the Course Description will appear when the database is successfully connected. </p>
                </div>
              </div>
              <br>
              <div class="col-sm-9">
                <p>Selections Left: {{questionsRemaining}}</p>
              </div>
              <div class="col-sm-3">
                <button *ngIf="!questionsRemaining == 0" [disabled]="!f.valid" type="button" (click)="onNextQuestion()" class="btn btn-default login waves-effect">Next</button>
                <button *ngIf="questionsRemaining == 0" [disabled]="!f.valid" type="submit" class="btn btn-default login waves-effect">Finish</button>
              </div>
            </div>
            <!--/Blue select-->
          </div>
          <!--/Content-->
        </div>
        <!--/Card-->

      </div>
    </form>
  </div>
</section>
