<!--Planner Section-->
<section *ngIf="!isLoading && !questionnaireNeeded" class="section">

    <div *ngFor="let year of _years; let i = index;" class="row">
      <div class="col-lg-6 m-b-r wow fadeInUp">
        <!--Card-->
        <div class="card-overlay" style="background: linear-gradient(
                       rgba(20,20,20, .15),
                       rgba(20,20,20, .15)),
                       url('http://www.clipartkid.com/images/381/chalkboard-borders-clipart-izI8Tx-clipart.jpg') center no-repeat;}">

            <!--Content-->
            <div class="white-text text-xs-center">
              <div class="card-block">
                <h3 class="cyan-text">{{year.semester1.semester}} {{year.semester1.year}}</h3>
                <a class="btn btn-lg btn-white-outline waves-effect" data-toggle="collapse" href="#Sem1collapseExample{{i}}" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-graduation-cap left"></i> View Semester</a>
              </div>
            </div>
        </div>
        <!--/.Card-->

        <div class="collapse" id="Sem1collapseExample{{i}}">
          <div class="card card-block">

            <div class="card-block">
              <!--Text-->
              <table class="table table-hover table-sm">
                <thead class="thead-inverse">
                  <tr>
                    <th>#</th>
                    <th>Class</th>
                    <th>Credits</th>
                    <th>Difficulty</th>
                    <th>Time Consumption</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let class of year.semester1.classes; let j = index">
                    <th scope="row">{{j+1}}</th>
                    <td>{{class.chosenClass.name}}</td>
                    <td>{{class.chosenClass.creditHours}}</td>
                    <td>{{class.chosenClass.difficultyRating}}</td>
                    <td>{{class.chosenClass.hoursDemandedRating}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--/.Card content-->
            <!-- Card footer -->
            <div class="card-data">
              <h4>Total Credits: {{year.semester1.creditTotal}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 m-b-r wow fadeInUp">
        <!--Card-->
        <div class="card-overlay" style="background: linear-gradient(
                       rgba(20,20,20, .15),
                       rgba(20,20,20, .15)),
                       url('http://www.clipartkid.com/images/381/chalkboard-borders-clipart-izI8Tx-clipart.jpg') center no-repeat;}">

            <!--Content-->
            <div class="white-text text-xs-center">
              <div class="card-block">
                <h3 class="cyan-text">{{year.semester2.semester}} {{year.semester2.year}}</h3>
                <a class="btn btn-lg btn-white-outline waves-effect" data-toggle="collapse" href="#Sem2collapseExample{{i}}" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-graduation-cap left"></i> View Semester</a>
              </div>
            </div>
        </div>
        <!--/.Card-->

        <div class="collapse" id="Sem2collapseExample{{i}}">
          <div class="card card-block">

            <div class="card-block">
              <!--Text-->
              <table class="table table-hover table-sm">
                <thead class="thead-inverse">
                  <tr>
                    <th>#</th>
                    <th>Class</th>
                    <th>Credits</th>
                    <th>Difficulty</th>
                    <th>Time Consumption</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let class of year.semester2.classes; let j = index">
                    <th scope="row">{{j+1}}</th>
                    <td>{{class.chosenClass.name}}</td>
                    <td>{{class.chosenClass.creditHours}}</td>
                    <td>{{class.chosenClass.difficultyRating}}</td>
                    <td>{{class.chosenClass.hoursDemandedRating}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--/.Card content-->
            <!-- Card footer -->
            <div class="card-data">
              <h4>Total Credits: {{year.semester2.creditTotal}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>
<!--/Planner Section-->
<div *ngIf="isLoading">
  <div class="loader">Loading</div>
</div>

<section *ngIf="!isLoading && questionnaireNeeded" class="section wow fadeInUp">
  <div class="divider-new">
    <h2 class="h2-responsive wow bounceIn" style="visibility: visible; animation-name: bounceIn;">Questionnaire</h2>
  </div>
  <div class="row">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div *ngFor="let year of _years">
        <div *ngIf="year.semester1.questions.length > 0">
          <div *ngFor="let question of year.semester1.questions; let i = index">
              <!--First column-->
              <div class="col-lg-3 col-md-5">

                <!--Card-->
                <div class="card">

                  <!--Header-->
                  <div class="card-header selu-green white-text text-xs-center">
                    {{year.semester1.semester}} {{year.semester1.year}}
                  </div>
                  <!--/Header-->

                  <!--Content-->
                  <div class="card-block">
                    <h4 class="text-xs-center">Current Course:</h4><h4 class="text-xs-center"><strong> {{question.classChosen.name}}</strong></h4>
                    <br>
                    <h4 class="text-xs-center">Available Options:</h4>
                      <!--Blue select-->
                    <div class="col-sm-12">
                      <select id="sem1{{i}}" class="text-xs-center browser-default validate">
                        <option value="" disabled selected>Choose your option</option>
                        <option *ngFor="let option of question.options" value="{{option.name}}">{{option.name}}</option>
                      </select>
                    </div>
                      <!--/Blue select-->
                  </div>
                  <!--/Content-->
                </div>
                <!--/Card-->

              </div>
              <!--/First column-->
          </div>
        </div>
        <div *ngIf="year.semester2.questions.length > 0">
          <div *ngFor="let question of year.semester2.questions; let i = index">
            <!--First column-->
            <div class="col-lg-3 col-md-5">

              <!--Card-->
              <div class="card">

                <!--Header-->
                <div class="card-header selu-green white-text text-xs-center">
                  {{year.semester2.semester}} {{year.semester2.year}}
                </div>
                <!--/Header-->

                <!--Content-->
                <div class="card-block">
                  <h4 class="text-xs-center">Current Course:</h4><h4 class="text-xs-center"><strong> {{question.classChosen.name}}</strong></h4>
                  <br>
                  <h4 class="text-xs-center">Available Options: </h4>
                  <div class="col-sm-12">
                    <select id="sem2{{i}}" class="browser-default validate">
                      <option value="" disabled selected>Choose your option</option>
                      <option *ngFor="let option of question.options" value="{{option}}">{{option.name}}</option>
                    </select>
                  </div>
                    <!--/Blue select-->
                </div>
                <!--/Content-->
              </div>
              <!--/Card-->

            </div>
            <!--/First column-->

          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 offset-md-5">
          <button type="submit" class="btn btn-large btn-primary waves-effect" [disabled]="!f.valid" *ngIf="!submitted">Save Changes</button>
        </div>
      </div>
      <br>
    </form>
  </div>
</section>
