<!--Projects section v.1-->
<section class="section">

  <!--Section heading-->
  <!--Section description-->
  <!--First row-->
  <div class="row">

    <!--Second column-->
    <div class="col-md-6 m-b-r wow fadeInUp">
      <!--Card-->
      <div class="card-overlay" style="background: linear-gradient(
                     rgba(20,20,20, .85),
                     rgba(20,20,20, .85)),
                     url('../../../../assets/img/football.jpg') center no-repeat;
}">

        <!--Content-->
        <div class="white-text text-xs-center">
          <div class="card-block">
            <h3 class="cyan-text">Fall 2017</h3>
            <a class="btn btn-lg btn-white-outline waves-effect" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-graduation-cap left"></i> View Semester</a>
          </div>
        </div>

      </div>
      <!--/.Card-->

      <div class="collapse" id="collapseExample">
        <div class="card card-block">

          <div class="card-block">
            <!--Text-->
            <table class="table table-sm">
              <thead>
              <tr>
                <th>#</th>
                <th>Class</th>
                <th>Credits</th>
                <th>Difficulty</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td>CMPS 161</td>
                <td>3</td>
                <td>3/10</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>CHEM 121</td>
                <td>3</td>
                <td>9/10</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>CHEM 123</td>
                <td>1</td>
                <td>8/10</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>ENGL 101</td>
                <td>3</td>
                <td>4/10</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>MATH 200</td>
                <td>5</td>
                <td>8/10</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!--/.Card content-->

          <!-- Card footer -->
          <div class="card-data">
            <h4>Total Credits: 15</h4>
          </div>

        </div>
      </div>
    </div>
    <!--/Second column-->


    <!--Third column-->
    <div class="col-md-6 m-b-r wow fadeInUp" data-wow-delay="0.1s">
      <!--Card-->
      <div class="card-overlay" style="background: linear-gradient(
                     rgba(20,20,20, .85),
                     rgba(20,20,20, .85)),
                     url('../../../../assets/img/business_cover.jpg') center no-repeat;
}">

        <!--Content-->
        <div class="white-text text-xs-center">
          <div class="card-block">
            <h3 class="cyan-text">Spring 2018</h3>
            <a class="btn btn-lg btn-white-outline waves-effect" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-graduation-cap left"></i> View Semester</a>
          </div>
        </div>

      </div>

      <div class="collapse" id="collapseExample2">
        <div class="card card-block">

          <div class="card-block">
            <!--Text-->
            <table class="table table-sm">
              <thead>
              <tr>
                <th>#</th>
                <th>Class</th>
                <th>Credits</th>
                <th>Difficulty</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">1</th>
                <td>CMPS 257</td>
                <td>3</td>
                <td>7/10</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>CMPS 280</td>
                <td>3</td>
                <td>4/10</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>ECON 201</td>
                <td>1</td>
                <td>2/10</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>ENGL 102</td>
                <td>3</td>
                <td>5/10</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>MATH 201</td>
                <td>5</td>
                <td>8/10</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!--/.Card content-->

          <!-- Card footer -->
          <div class="card-data">
            <h4>Total Credits: 15</h4>
          </div>

        </div>
      </div>
    </div>

    </div>

    <div class="row">
      <!--Second column-->
      <div class="col-md-6 m-b-r wow fadeInUp" data-wow-delay="0.2s">
        <!--Card-->
        <div class="card-overlay" style="background: linear-gradient(
                     rgba(20,20,20, .85),
                     rgba(20,20,20, .85)),
                     url('../../../../assets/img/fall-ready-cover2.jpg') center no-repeat;
}">

          <!--Content-->
          <div class="white-text text-xs-center">
            <div class="card-block">
              <h3 class="cyan-text">Fall 2018</h3>
              <a class="btn btn-lg btn-white-outline"><i class="fa fa-graduation-cap left"></i> View Semester</a>
            </div>
          </div>

        </div>
        <!--/.Card-->
      </div>
      <!--/Second column-->

      <!--Third column-->
      <div class="col-md-6 m-b-r wow fadeInUp" data-wow-delay="0.3s">
        <!--Card-->
        <div class="card-overlay" style="background: linear-gradient(
                     rgba(20,20,20, .85),
                     rgba(20,20,20, .85)),
                     url('../../../../assets/img/DORM.jpg') center no-repeat;
}">

          <!--Content-->
          <div class="white-text text-xs-center">
            <div class="card-block">
              <h3 class="cyan-text">Spring 2019</h3>
              <a class="btn btn-lg btn-white-outline"><i class="fa fa-graduation-cap left"></i> View Semester</a>
            </div>
          </div>

        </div>
        <!--/.Card-->
      </div>
      <!--/Third column-->
      <!--/.Card-->
    </div>

    <div class="row">
      <!--Second column-->
      <div class="col-md-6 m-b-r wow fadeInUp" data-wow-delay="0.4s">
        <!--Card-->
        <div class="card-overlay" style="background: linear-gradient(
                     rgba(20,20,20, .85),
                     rgba(20,20,20, .85)),
                     url('../../../../assets/img/sluext6.jpg') center no-repeat;
}">

          <!--Content-->
          <div class="white-text text-xs-center">
            <div class="card-block">
              <h3 class="cyan-text">Fall 2019</h3>
              <a class="btn btn-lg btn-white-outline"><i class="fa fa-graduation-cap left"></i> View Semester</a>
            </div>
          </div>

        </div>
        <!--/.Card-->
      </div>
      <!--/Second column-->

      <!--Third column-->
      <div class="col-md-6 m-b-r wow fadeInUp" data-wow-delay="0.5s">
        <!--Card-->
        <div class="card-overlay" style="background: linear-gradient(
                     rgba(20,20,20, .85),
                     rgba(20,20,20, .85)),
                     url('../../../../assets/img/se_entrance.jpg') center no-repeat;
}">

          <!--Content-->
          <div class="white-text text-xs-center">
            <div class="card-block">
              <h3 class="cyan-text">Spring 2020</h3>
              <a class="btn btn-lg btn-white-outline"><i class="fa fa-graduation-cap left"></i> View Semester</a>
            </div>
          </div>

        </div>
        <!--/.Card-->
      </div>
      <!--/Third column-->
      <!--/.Card-->
    </div>
    <!--/Third column-->

  <div class="row">
      <!--Second column-->
      <div class="col-md-6 m-b-r wow fadeInUp" data-wow-delay="0.6s">
        <!--Card-->
        <div class="card-overlay" style="background: linear-gradient(
                     rgba(20,20,20, .85),
                     rgba(20,20,20, .85)),
                     url('../../../../assets/img/business_cover.jpg') center no-repeat;
}">

          <!--Content-->
          <div class="white-text text-xs-center">
            <div class="card-block">
              <h3 class="cyan-text">Fall 2020</h3>
              <a class="btn btn-lg btn-white-outline"><i class="fa fa-graduation-cap left"></i> View Semester</a>
            </div>
          </div>

        </div>
        <!--/.Card-->
      </div>
      <!--/Second column-->

      <!--Third column-->
      <div class="col-md-6 m-b-r wow fadeInUp" data-wow-delay="0.7s">
        <!--Card-->
        <div class="card-overlay" style="background: linear-gradient(
                     rgba(20,20,20, .85),
                     rgba(20,20,20, .85)),
                     url('../../../../assets/img/business_cover.jpg') center no-repeat;
}">

          <!--Content-->
          <div class="white-text text-xs-center">
            <div class="card-block">
              <h3 class="cyan-text">Spring 2021</h3>
              <a class="btn btn-lg btn-white-outline"><i class="fa fa-graduation-cap left"></i> View Semester</a>
            </div>
          </div>

        </div>
        <!--/.Card-->
      </div>
      <!--/Third column-->
      <!--/.Card-->
    </div>
    <!--/Third column-->

  <!--/First row-->
</section>
<!--/Projects section v.1-->
