.fullscreen-login-image{
    background-image:url('../images/login-splash.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center center;

    height:100%;
    width:100%;
}