<ul id="slide-out" class="side-nav fixed custom-scrollbar">

  <!-- Logo -->
  <li>
    <div class="logo-wrapper waves-light">
      <img src="../../../../assets/img/lion.png" class="img-fluid flex-center">
    </div>
  </li>
  <!--/. Logo -->

  <!--Social-->
  <li>
    <ul class="social">
    </ul>
  </li>
  <!--/Social-->

  <!--Search Form-->
  <li>
    <form class="search-form" role="search">
      <div class="form-group waves-light">

      </div>
    </form>
  </li>
  <!--/.Search Form-->

  <!-- Side navigation links -->
  <li>
    <ul class="collapsible collapsible-accordion">
      <li routerLinkActive="active" >
        <a class="collapsible-header waves-effect arrow-r" (click)="closeNav()" [routerLink]="['/Dashboard/Planner']"><i class="fa fa-calendar-check-o fa-fw"></i>Planner</a>
      </li>
      <li routerLinkActive="active">
        <a class="collapsible-header waves-effect arrow-r" (click)="closeNav()" [routerLink]="['/Dashboard/ClassHistory']"><i class="fa fa-history fa-fw"></i>Class History</a>
      </li>
      <li routerLinkActive="active">
        <a class="collapsible-header waves-effect arrow-r" (click)="closeNav()" [routerLink]="['/Dashboard/ClassesOffered']"><i class="fa fa-book fa-fw"></i>Classes Offered</a>
      </li>
      <li routerLinkActive="active">
        <a class="collapsible-header waves-effect arrow-r" (click)="closeNav()" [routerLink]="['/Dashboard/FinancialAid']"><i class="fa fa-usd fa-fw"></i>Financial Aid</a>
      </li>
      <li routerLinkActive="active">
        <a class="collapsible-header waves-effect arrow-r" (click)="closeNav()" [routerLink]="['/Dashboard/Settings']"><i class="fa fa-cog fa-fw"></i>Settings</a>
      </li>
    </ul>
  </li>
  <!--/. Side navigation links -->

</ul>
