
<!--Section: Team v.1-->
<section class="section team-section">

  <!--Section heading-->
  <h1 class="section-heading animated fadeInDown"><strong>The Lion Planners</strong></h1>

  <h4 class="text-xs-center animated fadeInDown">Special thanks to Cory Clapp for setting up our SSL certificate!</h4>
  <br>
  <!--Section description-->
  <!--First row-->
  <div class="row text-xs-center">

    <!--First column-->
    <div class="col-lg-3 col-md-6 mb-r animated fadeInLeft">
      <div class="testimonial">

      <div class="avatar">
        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/13879226_109653746146610_9137786497960135388_n.jpg?oh=35e0dac8695b9c01fc281d5122a1ecae&oe=58C4118A" class="img-circle img-responsive">
      </div>
      <h4>Jeremy Haase</h4>
      <h5>Back-end Developer</h5>
      <p>jeremy.haase@selu.edu</p>

      <!--Facebook-->
      <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
      <!--Twitter-->
      <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
      <!--Dribbble-->
      <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>
      </div>

    </div>
    <!--/First column-->

    <!--Second column-->
    <div class="col-lg-3 col-md-6 mb-r animated fadeInLeft">
      <div class="testimonial">

      <div class="avatar">
        <img src="../../../../assets/img/jessie.png" class="img-circle img-responsive">
      </div>
      <h4>Jessie Badon</h4>
      <h5>Back-end Developer</h5>
      <p>jessie.badon@selu.edu</p>

      <!--Linkedin-->
      <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
      <!--Facebook-->
      <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
      <!--GitHub-->
      <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>
      </div>

    </div>
    <!--/Second column-->

    <!--Third column-->
    <div class="col-lg-3 col-md-6 mb-r animated fadeInRight">
      <div class="testimonial">

      <div class="avatar">
        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/13240541_1108421109199253_1704545431855646556_n.jpg?oh=5b9ca9cb6c93801a3d092c14285c0a94&oe=58CB9307" class="img-circle img-responsive">
      </div>

      <h4>Nick Dolan</h4>
      <h5>Back-end Developer</h5>
      <p>nick.dolan@selu.edu</p>

      <!--Facebook-->
      <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
      <!--Pinterest-->
      <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
      <!--Instagram-->
      <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>
      </div>

    </div>
    <!--/Third column-->

    <!--Fourth column-->
    <div class="col-lg-3 col-md-6 mb-r animated fadeInRight">
      <div class="testimonial">

      <div class="avatar">
        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/15027691_10207890530566522_4763864388520493688_n.jpg?oh=e3086d8dd73fe903532248b225adac3d&oe=58C3BC8B" class="img-circle img-responsive">
      </div>

      <h4>Austin Coffin</h4>
      <h5>Front-end Developer</h5>
      <p>austin.coffin@selu.edu</p>

      <!--Google +-->
      <a class="icons-sm li-ic"><i class="fa fa-linkedin"> </i></a>
      <!--Facebook-->
      <a class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
      <!--GitHub-->
      <a class="icons-sm git-ic"><i class="fa fa-github"> </i></a>
      </div>

    </div>
    <!--/Fourth column-->

  </div>
  <!--/First row-->

</section>
<!--/Section: Team v.1-->
