<section class="section">

  <!--Section heading-->
  <!--Section description-->

  <div class="row">

    <!--First column-->
    <div class="col-md-8 offset-md-2 wow fadeInDown">

      <!--Form with header-->
      <div class="card">

        <div class="card-block">
          <!--Header-->
          <div class="form-header selu-green">
            <h3><i class="fa fa-cogs"></i> Settings:</h3>
          </div>
          <br>

          <h4 class="text-xs-left">General Settings:</h4>
          <!--Body-->
          <div class="text-xs-center">
            <div class="list-group">
              <a class="list-group-item"><h4>Allow Email Notifications:</h4>
                <!-- Switch -->
                <div class="switch">
                  <label>
                    Off
                    <input type="checkbox">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
              </a>
              <a class="list-group-item"><h4>Allow Phone Notifications:</h4>
                <!-- Switch -->
                <div class="switch">
                  <label>
                    Off
                    <input type="checkbox">
                    <span class="lever"></span>
                    On
                  </label>
                </div>
              </a>
            </div>
          </div>
          <br>
          <br>
          <h4 class="text-xs-left">Advanced Settings:</h4>
          <div class="text-xs-center">
            <div class="list-group">
              <a class="list-group-item"><h4>Reset my Planner:</h4>
                <!-- Switch -->
                <button type="button" class="btn btn-mdb selu-green">Reset</button>
              </a>
            </div>
          </div>

        </div>

      </div>
      <!--/Form with header-->

    </div>

  </div>

</section>