<!--Section: Features v.1-->
<section class="section feature-box">

  <!--Jumbotron-->
  <div class="jumbotron wow fadeInDown">
    <h1 class="display-2 h1-responsive"><strong>Congratulations!</strong></h1><br>
    <hr class="m-y-2">
    <p class="grey-text">Based on your ACT score and GPA, you qualify for the following scholarship opportunities at Southeastern.
      <br>There are also additional scholarships available that are not based on your academics.</p>
  </div>
  <!--/.Jumbotron-->

  <!--First row-->
  <div class="row features-big wow fadeInUp">
    <!--First column-->
    <div class="col-md-4 mb-r">
      <!--Panel-->
      <div class="card text-xs-center">
        <div class="card-header selu-green white-text">
          Beginning Freshman Honor Scholarship
        </div>
        <div class="card-block">
          <h1 class="card-title green-text">Up to $500*</h1>
          <p class="card-text">The Beginning Freshman Honor Scholarship packages are available through the Scholarship Services Office.</p>
          <a href="http://www.southeastern.edu/admin/fin_aid/scholarships/23_grid.pdf" class="btn selu-green">Click for more Details</a><br>
          <p class="card-text">*Amount is based on your ACT, GPA, and Housing Status.</p>
        </div>
      </div>
      <!--/.Panel-->
    </div>
    <!--/First column-->
    <!--First column-->
    <div class="col-md-4 mb-r">
      <!--Panel-->
      <div class="card text-xs-center">
        <div class="card-header selu-green white-text">
          Beginning Freshman Honor Scholarship
        </div>
        <div class="card-block">
          <h1 class="card-title green-text">Up to $2,550*</h1>
          <p class="card-text">The Beginning Freshman Honor Scholarship packages are available through the Scholarship Services Office.</p>
          <a href="http://www.southeastern.edu/admin/fin_aid/scholarships/24_26_grid.pdf" class="btn selu-green">Click for more Details</a><br>
          <p class="card-text">*Amount is based on your ACT, GPA, and Housing Status.</p>
        </div>
      </div>
      <!--/.Panel-->
    </div>
    <!--/First column-->
    <!--First column-->
    <div class="col-md-4 mb-r">
      <!--Panel-->
      <div class="card text-xs-center">
        <div class="card-header selu-green white-text">
          Beginning Freshman Honor Scholarship
        </div>
        <div class="card-block">
          <h1 class="card-title green-text">Up to $4,000*</h1>
          <p class="card-text">The Beginning Freshman Honor Scholarship packages are available through the Scholarship Services Office.</p>
          <a href="http://www.southeastern.edu/admin/fin_aid/scholarships/27_29_grid.pdf" class="btn selu-green">Click for more Details</a><br>
          <p class="card-text">*Amount is based on your ACT, GPA, and Housing Status.</p>
        </div>
      </div>
      <!--/.Panel-->
    </div>
    <!--/First column-->
    <!--First column-->
    <div class="col-md-4 mb-r">
      <!--Panel-->
      <div class="card text-xs-center">
        <div class="card-header selu-green white-text">
          Beginning Freshman Honor Scholarship
        </div>
        <div class="card-block">
          <h1 class="card-title green-text">Up to $6,000*</h1>
          <p class="card-text">The Beginning Freshman Honor Scholarship packages are available through the Scholarship Services Office.</p>
          <a href="http://www.southeastern.edu/admin/fin_aid/scholarships/30plus_grid.pdf" class="btn selu-green">Click for more Details</a><br>
          <p class="card-text">*Amount is based on your ACT, GPA, and Housing Status.</p>
        </div>
      </div>
      <!--/.Panel-->
    </div>
    <!--/First column-->
    <!--First column-->
    <div class="col-md-4 mb-r">
      <!--Panel-->
      <div class="card text-xs-center">
        <div class="card-header selu-green white-text">
          The Senator Ben Nevers Transfer Scholarship
        </div>
        <div class="card-block">
          <h1 class="card-title green-text">Up to $3,000*</h1>
          <p class="card-text">The following Senator Ben Nevers Transfer Scholarship is available through the Scholarship Services Office.</p>
          <a href="http://www.southeastern.edu/admin/fin_aid/scholarships/" class="btn selu-green">Click for more Details</a><br>
          <p class="card-text">*Amount is based on your ACT, GPA, and Housing Status.</p>
        </div>
      </div>
      <!--/.Panel-->
    </div>
    <!--/First column-->
  </div>
  <!--/First row-->

</section>
<!--/Section: Features v.1-->
