<section class="section">

  <!--Section heading-->
  <div *ngIf="!isLoading" class="row">

    <!--Second column-->
    <div class="col-md-7">

      <!--Card-->
      <div *ngIf="!isLoading" class="card testimonial-card animated fadeInRight">

        <!--Background color-->
        <div class="card-up selu-green">
        </div>

        <!--Avatar-->
        <div class="avatar"><img src="https://scontent.xx.fbcdn.net/v/t1.0-9/13240541_1108421109199253_1704545431855646556_n.jpg?oh=5b9ca9cb6c93801a3d092c14285c0a94&oe=58CB9307" class="img-circle img-responsive">
        </div>

        <div class="card-block">
          <!--Name-->
          <h1 class="card-title">{{_user.firstName}} {{_user.lastName}}</h1>

          <h3><i>{{_user.email}}</i></h3>
          <br>
          <br>
          <!--Quotation-->
          <h2 class="text-xs-left" id="classification">Classification: <strong>{{_user.classification}}</strong></h2><br>
          <h2 class="text-xs-left" id="major">Majors: <strong>Computer Science</strong></h2><br>
          <h2 class="text-xs-left" id="minor">Minors: <strong>Music</strong></h2><br>
          <h2 class="text-xs-left" id="gpa">GPA: <strong>{{_user.gpa}}</strong></h2><br>
          <h2 class="text-xs-left" id="phone">Phone: <strong>(985)-405-6672</strong></h2><br>

          <label>
            <input hidden id="percentage" value="75"/>
          </label>
        </div>
      </div>
    </div>
      <!--/.Card-->
      <div class="col-md-5" style="padding-top: 30px;">
        <div class="card animated fadeInDown">

          <div class="card-block">
            <!--Header-->
            <div class="form-header selu-green">
              <h3><i class="fa fa-pencil"></i> ACT Scores</h3>
            </div>
            <!--Body-->
            <div class="col-md-8 col-sm-8 col-xs-8">
              <h4 class="text-xs-right">Composite:    <span class="text-xs-right tag blue">{{(_user.actEnglish + _user.actMath+ _user.actScience+_user.actReading)/4}}</span></h4>
              <h4 class="text-xs-right">English:    <span class="text-xs-right tag blue">{{_user.actEnglish}}</span></h4>
              <h4 class="text-xs-right">Math:    <span class="text-xs-right tag blue">{{_user.actMath}}</span></h4>
              <h4 class="text-xs-right">Reading:    <span class="text-xs-right tag blue">{{_user.actReading}}</span></h4>
              <h4 class="text-xs-right">Science:    <span class="text-xs-right tag blue">{{_user.actScience}}</span></h4>
            </div>
          </div>
        </div>
        <!--/Form with header-->
      </div>

      <div class="col-md-5" style="padding-top: 42px;">
        <div class="card animated fadeInUp">

          <div class="card-block">
            <!--Header-->
            <div class="form-header selu-green">
              <h3><i class="fa fa-graduation-cap"></i> Computer Science</h3>
            </div>
            <!--Body-->
            <div class="col-md-12">
              <h3 class="text-xs-center">Degree Progress:<br> {{numCredits}} / 120 Credits</h3><br>

              <div class="flex-center"><span style="margin: auto;" class="min-chart centerAlign" id="chart-sales" data-percent=""><span class="percent"></span></span></div>
            </div>
          </div>
        </div>
        <!--/Form with header-->
      </div>
  </div>

  <div *ngIf="isLoading">
    <div class="loader">Loading</div>
  </div>

</section>
