<section class="section">

  <!--Section heading-->

  <div class="row">

    <!--Second column-->
    <div class="col-lg-8 offset-lg-2 col-md-12 m-b-r">

      <div *ngIf="isLoading">
        <div class="loader">Loading</div>
      </div>

      <!--Card-->
      <div *ngIf="!isLoading" class="card testimonial-card wow fadeInRight">

        <!--Background color-->
        <div class="card-up selu-green">
        </div>

        <!--Avatar-->
        <div class="avatar"><img src="../../../../assets/img/pao.jpg" class="img-circle img-responsive">
        </div>

        <div class="card-block">
          <!--Name-->
          <h3 class="card-title">Ku-pao Yang</h3>

          <h5>kyang@selu.edu</h5>
          <br>
          <p>English: {{_user.actEnglish}} Math: {{_user.actMath}} Reading: {{_user.actReading}} Science: {{_user.actScience}} </p>
          <!--Quotation-->
          <h4 id="classification">Classification: <strong>Master Jedi</strong></h4>
          <h4 id="major">Majors: <strong>Computer Science</strong></h4>
          <h4 id="minor">Minors: <strong></strong></h4>
          <h4 id="gpa">GPA: <strong>5.0</strong></h4>
          <label>
            <input hidden id="percentage" [value]="percentComplete"/>
          </label>

          <h4>Degree Progress: {{numCredits}} Credits / 120 Credits</h4>
          <span class="min-chart" id="chart-sales" data-percent=""><span class="percent"></span></span>

        </div>

      </div>
      <!--/.Card-->


    </div>
    <!--/Second column-->

  </div>

</section>
