<!--Section: Contact v.1-->
<section class="section">

  <!--Section heading-->
  <!--Section description-->

  <div class="row">

    <!--First column-->
    <div class="col-md-5 wow fadeIn" data-wow-delay="0.2s">

      <!--Form with header-->
      <div class="card">

        <div *ngIf="!submitted" class="card-block">
          <!--Header-->
          <div class="form-header selu-green">
            <h3><i class="fa fa-envelope"></i> Write to us:</h3>
          </div>
          <br>

          <!--Body-->
          <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" id="form3" class="form-control">
            <label for="form3">Your name</label>
          </div>

          <div class="md-form">
            <i class="fa fa-envelope prefix"></i>
            <input type="text" id="form2" class="form-control">
            <label for="form2">Your email</label>
          </div>

          <div class="md-form">
            <i class="fa fa-tag prefix"></i>
            <input type="text" id="form32" class="form-control">
            <label for="form32">Subject</label>
          </div>

          <div class="md-form">
            <i class="fa fa-pencil prefix"></i>
            <textarea type="text" id="form8" class="md-textarea"></textarea>
            <label for="form8">Message</label>
          </div>

          <div class="text-xs-center">
            <button type="button" (click)="onSubmit()" class="btn btn-mdb selu-green">Submit</button>
          </div>

        </div>
        <div *ngIf="submitted" class="card-block">
          <div class="form-header selu-green">
            <h3><i class="fa fa-envelope"></i> Write to us:</h3>
          </div>
          <br>

          <h1 class="text-xs-center green-text"><i class="fa fa-check fa-3x"></i></h1>
          <br>
          <h1 class="text-xs-center">Message Sent</h1>
        </div>

      </div>
      <!--/Form with header-->

    </div>
    <!--/First column-->
    <div class="col-md-1">

    </div>

    <!--Second column-->
    <div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">

      <!--Google map-->
      <div id="map-container" class="z-depth-1-half map-container" style="height: 400px"></div>

      <br>
      <!--Buttons-->
      <div class="row text-xs-center">
        <div class="col-md-2">

        </div>

        <div class="col-md-4">
          <a (click)="onMapClick()" class="btn-floating btn-small selu-green"><i class="fa fa-map-marker"></i></a>
          <p>Hammond, LA 70403</p>
          <p>United States</p>
        </div>

        <div class="col-md-4">
          <a href="mailto:lionplanner@selu.edu" class="btn-floating btn-small selu-green"><i class="fa fa-envelope"></i></a>
          <p>lionplanner@selu.edu</p>
        </div>

        <div class="col-md-2">

        </div>
      </div>

    </div>
    <!--/Second column-->
  </div>

</section>
<!--/Section: Contact v.1-->
